html{
                background-size: cover;
                margin : 0;
                padding : 0;
                
                overflow-y:scroll;overflow-x:hidden;background-repeat:repeat; background-attachment:fixed;
            }
            body{
                font-family:"맑은 고딕", "고딕", "굴림";    
                margin : 0;
                padding : 0;
                background-image: url('images/snow12.jpg');
                -webkit-animation: snow 20s linear infinite;
                -moz-animation: snow 20s linear infinite;
                -ms-animation: snow 20s linear infinite;
                animation: snow 20s linear infinite;
            }
            header {
               height : 75px;
               margin-right: 0;
               margin-left: 0;
                background-color : white;
                padding: 0;
                top:0px;
                left:0px;
                position:fixed;
                width:100%;
                overflow: hidden;
                border-bottom :5px solid #333;
               border-bottom-color: black;
            }
            header h1{
                width:97%;
                margin-top : -1px;
               text-align: center;   
               color:#ffffff;
                height : 5px;
            }       
            aside{
                clear:both;
                margin:0 auto;
                width:100%;
                height:auto;
                padding:10px;
                background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
            }
            .text{
                color:black;
            }
            footer{
                clear:both;
               width: 100%;
               margin-right: auto;
               margin-left: auto;   
               margin-top:0;
               padding:10px;
               background-color:#333;
               color:white;   
               text-align:center;
            }
            a{
                text-decoration: none;
                color:black;
            }
            article{
               width: 100%;
               margin-right: auto;
               margin-left: auto;
               padding:5px;
                overflow:hidden;
                margin-top:100px;
            }
            article section{
               width:610px;
               height:auto;
               float: left;
               margin-left:29%;
                margin-top:-4px;
               padding:5px;
               border:1px dotted rgb(255, 255, 255);
                background-color: white;
            }
        /*
        .section2{  
            width:300px;
           height:400px;
            margin-top:0px;
            margin-left:60%;
           padding:5px;
           border:1px dotted rgb(255, 255, 255);
            background-color: ivory;
            overflow:scroll;
            position : fixed;
        }
        <section class="section2">
                    <p><h2>친구추천</h2></p>
                    <p><h5>당신의 동일한 감정의 친구들과 연락해보세요!</h5></p>
                    
                    <p><h5>준민</h5></p>
                    
                    <p><h5>가영</h5></p>
                    
                    <p><h5>주원</h5></p>
            </section>
        */
        .image_profile{
            border-radius:30%;
            width : 50px;
            height : 50px;
        }
        .image_profile2{
            border-radius:50%;
            width : 50px;
            height : 50px;
        }
        .image_main{
            width : 600px;
            height : 600px;
        }
        .top2{
            display: flex;
            margin-left:20px;
        }
        .post{
            background-color: white;
        }
        .top{
            display:flex;
            margin-top:10px;
        }      
        form input {
           display: block;
           width: 78%;
           margin-left: 20px;
           padding: 5px 20px;
           font-size: 1em;
           border-radius: 3px;
           outline: none;
           border: 1px solid #ccc;
        }
        .A{
            height : 100px;
        }
        .B{
            display:flex;
        }
        .ul{
            height : 5px;
        } 
        .right {
           position: relative;
           margin-top: 30px;
           margin-bottom: 30px;
           left: 50%;
           transform: translate(-50%, 0);
           font-family: inherit;
            color: slategray;
            background-color: white;
           outline: none;
           border: none;
           padding: 5px 15px;
           font-size: 1.3em;
           font-weight: 500;
           border-radius: 3px;
           box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
           cursor: pointer;
           transition: all 0.15s ease-in-out;
           width : 170px;
        }
        .right:hover {
      border: 1px solid white;
      text-shadow: #1e4158 0 1px 0;
      background: #b2e8ed;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2e8ed));
      background: -webkit-linear-gradient(top, #ffffff, #b2e8ed);
      background: -moz-linear-gradient(top, #ffffff, #b2e8ed);
      background: -ms-linear-gradient(top, #ffffff, #b2e8ed);
      background: -o-linear-gradient(top, #ffffff, #b2e8ed);
      background-image: -ms-linear-gradient(top, #ffffff 0%, #b2e8ed 100%);
      color: #050005;
      }
        .image_mark{
            width : 170px;
            height : 50px;
        }
        .section{
            background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
        }
.invisible{
    display :none;
}
.right3 {
	position: relative;
	margin-top: 0px;
	margin-left : 0px;
	margin-bottom: 30px;
	left: 15%;
	transform: translate(-50%, 0);
	font-family: inherit;
	color: black;
	background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
	outline: none;
	border: none;
	padding: 5px 15px;
	font-size: 1.1em;
	font-weight: 800;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
	cursor: pointer;
    transition: all 0.15s ease-in-out;
	width : 150px;
	height : 33px;
	}
	.right3:hover {
		border: 1px solid #0a3c59;
		text-shadow: #1e4158 0 1px 0;
		background: #b2e8ed;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b2e8ed));
		background: -webkit-linear-gradient(top, #ffffff, #b2e8ed);
		background: -moz-linear-gradient(top, #ffffff, #b2e8ed);
		background: -ms-linear-gradient(top, #ffffff, #b2e8ed);
		background: -o-linear-gradient(top, #ffffff, #b2e8ed);
		background-image: -ms-linear-gradient(top, #ffffff 0%, #b2e8ed 100%);
		color: #050005;
		}

